.return-button {
    margin-left: 20px;
}

.nav {
    background: #333;
}

button {
    background: #333 !important;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 1.6rem;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

button.active {
    background: #00bfa5 !important;
}

form span {
    color: #00bfa5 !important;
}

.error {
    margin-top: 60px;
}

.flex-it {
    display: flex;
    justify-content: space-between;
}

input {
    width: 80% !important;
}

/* styling graph */
.x-axis path, .y-axis path,
.x-axis line, .y-axis line {
    stroke: #ccc;
}

.x-axis text, .y-axis text {
    fill: #ccc;
    font-size: 14px;
}










































/* input button if needed */
/* 
.btn-clr {
    background: #00bfa5 !important;
} 

.submit-btn {
    background: #00bfa5 !important;
    width: 60px !important;
    height: 60px !important;
    display: inline-block !important;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    animation: animate 1s infinite;
}

.submit-btn:hover {
    background: #00a791 !important;   
}
  
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 191, 166, 0.70) 0 0 0 rgba(0, 191, 166, 0.70);
    }

    40% {
        box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(0, 191, 166, 0.70);
    }

    80% {
        box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 20px rgba(255, 0, 64, 0);
    }
} */